
@font-face {
    font-family: Cakra-Normal;
    src: url("Cakra-Normal.otf");
}

::selection {
    background: #b7c1ff;
}

:root {
    --white: #f9f9f9;
    --black: #36383F;
    --gray: #85888C;
}


body {
    color: black;
    width: 100%;
    height: 100%;
    background-color: rgba(225, 223, 223, 0.87);
    font-family: "Cakra-Normal";
}

.appear{
    opacity: 0;
    transition: 1s;
}

.appear.show{
    opacity: 1;
    transition: 1s;
}


.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* column-gap: 0.1em; */
    row-gap: 2em;
}

.cardNChips {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 4em;
    justify-items: center;
}


.card {
    height: 550px;
    width: 700px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.7);
    z-index: 10;
    padding: 25px;
    color: #282626;
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transition: 1s ease-out;

}
.card>i {
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 2.5rem;
}



.card>div>h1 {
    font-weight: lighter;
    font-size: 16px;
}



.caption .title {
    font-size: 22px;
}

.caption .info {
    margin-top: 5px;
    font-size: 18px;
}


.card:hover{
    transform: scale(1.05);
}

@media (max-width: 1460px) {
    .cardNChips{
        grid-template-columns: 100%;
    }
}

@media(max-width: 800px) {

    .card {
        height: 550px;
        width: 500px;
        padding: 20px;
    }
    p {
        font-size: 25px;
    }
    .container {
        font-size: 25px;

    }

    .dbimg {
        width: 15em;
        height: 15em;
    }
}


@media(max-width: 768px) {

    .container p {
        font-size: 30px;
    }

    .card {
        height: 700px;
        width: 350px;
        padding: 20px;
    }
    p {
        font-size: 10px;
    }


    .dbimg {
        width: 10em;
        height: 10em;
    }
}



p, a {
    font-size: 1rem;
}



* {
    margin: 0;
    scroll-behavior: smooth;
    padding: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.header {
    background-color: rgba(3, 3, 3);
    box-shadow: 1px 1px 5px 0 var(--gray);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10000;
    padding: 15px;
    color: black;
}

.logo {
    display: inline-block;
    color: white;
    font-size: 60px;
    margin-left: 10px;
}


.nav {
    width: 100%;
    height: 100%;
    position: fixed;
    /*background-color: var(--black);*/
    background-color: black;
    overflow: hidden;
    left: 0;
    flex-flow: row nowrap;

}

.menu a {
    display: block;
    padding: 30px;
    color: var(--white);
}

.menu a:hover {
    background-color: var(--gray);
}

.menu a.active {
    /* background-color: var(--gray); Цвет фона для активной ссылки */
    color: rgb(31, 33, 241); /* Цвет текста для активной ссылки */
    font-weight: bold; /* Установите жирный шрифт для активной ссылки */
}

.footer a{
    color:white;
}

.nav {
    max-height: 0; /* ограничивает высоту до нуля, чтобы скрыть меню */
    transition: max-height .4s ease-out; /* анимация открытия меню */
}

.hamb { /* устанавливает положение кнопки, добавляет отступы и курсор-указатель */
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}

.hamb-line { /* стилизует белые полосы */
    background: white;
    display: block;
    height: 2.5px;
    position: relative;
    width: 24px;

}

.hamb-line::before,
.hamb-line::after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out; /* анимацию с плавным переходом всем свойствам при изменении */
    width: 100%;
}

.hamb-line::before { /* расставляет полосы */
    top: 5px;
}

.hamb-line::after {
    top: -5px;
}

.side-menu { /* скрывает чекбокс, который используется для управления видимостью меню.*/
    display: none;
}


.side-menu:checked ~ nav {
    max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
    background: transparent; /* прозрачный */
}

.side-menu:checked ~ .hamb .hamb-line::before { /* при активации меню вращают верхнюю и нижнюю полосы для создания крестика */
    transform: rotate(-45deg);
    top: 0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
}


@media screen and (min-width: 1136px) {
    /* 768px */
    .image-gallery {
        flex-direction: row;
    }

    .nav {
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content; /* yстанавливает ширину элемента, чтобы она соответствовала его содержимому */
    }

    .menu li {
        float: left; /* выравнивание элементов меню */
    }

    .menu a:hover {
        background-color: transparent;
        color: var(--gray);

    }

    .hamb {
        display: none;
    }

    .container {
        max-width: 100%; /* Ограничиваем ширину контейнера на мобильных устройствах */
        margin-left: 10px; /* Добавляем отступ слева, чтобы не заходить на иконку бургера */
        margin-right: 10px; /* Добавляем отступ справа, чтобы не заходить за границы экрана */
        overflow-wrap: break-word;
    }

    .wrapper {
        /* grid-template-columns: 100%; */
    }
}

@media (orientation: landscape) and (max-height: 550px){
    .menu a{
        padding: 20px;
    }
}

@media (orientation: landscape) and (max-height: 440px){
    .menu a{
        padding: 10px;
    }
}

@media (max-width: 998px) {
    .wrapper {
        grid-template-columns: 100%;
    }

}

.container {
    text-align: center;
    font-family: Cakra-Normal;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
    font-size: 2em;

}

.container pre {
    display: inline-block;
    text-align: center;
    font-size: 50px;
}

.dbimg {
    width: 20em;
    height: 20em;
    text-align: center;
}

p {
    font-size: 50px;
    text-align: center;
}

.smallp {
    font-size: 30px;
}

.centerdiv {
    text-align: center;
}

.form{
    display: grid;
    justify-content: center;
}

.labels{
    display: grid;
    grid-template-columns: 1fr;
}



#result ul {
    font-size: 20px;
    padding: 0;
    list-style: none;
    white-space: nowrap; /* Запрещаем перенос строк */
}

/* Стилизация элементов списка результатов */
#result li {
    margin-right: 10px;
    display: inline-block; /* Отображение в строку */
}

#databaseForm {
    height: 300px;
    width: 500px;
    margin-bottom: 20px;
    background-color: rgba(35, 35, 35, 0.99);
    border-radius: 20px;
    justify-items: center;
    color:white;
}

/* Стилизация чекбоксов */
.filterCheckbox {
    margin-right: 10px;
}
#databaseForm label {
    display: block; /* Чтобы label занимал всю ширину контейнера */
    margin-bottom: 0; /* Сбрасываем отступ снизу */
    margin-left: 25%;
    text-align: left; /* Выравнивание текста по левому краю */
}

/* Стилизация лейблов */
#databaseForm label {
    margin-bottom: 5px; /* Расстояние между чекбоксами и их лейблами */
}

@media (max-width: 540px) {
    #databaseForm {
        /*width: 100%; !* Примерная ширина формы при уменьшенном размере экрана *!*/
        height: 250px;
        width: 400px;
        font-size: 0.8em; /* Примерный уменьшенный размер шрифта для формы */
        margin: 0 auto;
    }

    .form h2{
        font-size: 15px;
    }

    #databaseForm label {
        margin-left: 10%; /* Примерный отступ слева для лейблов при уменьшенном размере экрана */
    }


    #result li {
        margin-bottom: 7px; /* Отступ между результатами в столбце */
        font-size: 15px;

    }
}

@media (max-width: 420px) {
    #databaseForm {
        /*width: 100%; !* Примерная ширина формы при уменьшенном размере экрана *!*/
        height: 250px;
        width: 350px;
        font-size: 0.8em; /* Примерный уменьшенный размер шрифта для формы */
        margin: 0 auto;
    }

    .form h2{
        font-size: 15px;
    }

    #databaseForm label {
        margin-left: 10%; /* Примерный отступ слева для лейблов при уменьшенном размере экрана */
    }


    #result li {
        margin-bottom: 7px; /* Отступ между результатами в столбце */
        font-size: 15px;

    }
}

@media (max-width: 350px) {
    #databaseForm {
        width: 300px;
    }

}


.footer {
    /*background-color: #474950;*/
    background-color: rgba(3, 3, 3);
    box-shadow: 1px 1px 5px 0 var(--gray);
    position: sticky;
    width: 100%;
    z-index: 9999;
    padding: 20px;
    color: #fff;
}

.foot {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 1em;

}

.foot > div {
    padding: 1em;
}

@media (max-width: 1000px) {
    .foot {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .foot {
        grid-template-columns: 100%;
        font-size: 0.9em;
    }
    .foot a{
        font-size: 0.9em;
    }
}




.textborder {
    overflow-wrap: break-word;
    --b: .2em; /* border width */
    --c: 2em; /* corner size */
    --r: .5em; /* corner rounding */
    position: relative;
    margin: 1em auto;
    border: solid var(--b) transparent;
    padding: 0.5em;
    max-width: 23em;
    font: 2.5em Cakra-Normal;

    &::before {
        position: absolute;
        z-index: -1;
        inset: calc(-1 * var(--b));
        border: inherit;
        border-radius: var(--r);
        background: linear-gradient(#000000, rgb(52, 52, 52), #7e7d7e) border-box;
        --corner: conic-gradient(from -90deg at var(--c) var(--c), red 25%, #0000 0) 0 0/ calc(100% - var(--c)) calc(100% - var(--c)) border-box;
        --inner: conic-gradient(red 0 0) padding-box;
        -webkit-mask: var(--corner), var(--inner);
        -webkit-mask-composite: source-out;
        mask: var(--corner) subtract, var(--inner);
        content: ''
    }
}